doctype html
html(ng-app='sampleRootsApp',  ng-strict-di)

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    base(href='/')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    != css()

  body
    
    main
      header
        include ../assets/parts/header
      
      section.container
        block content
      
      footer
          include ../assets/parts/footer
    
    script
      | window.contentSkeleton = 
      include ../public/content.json
    script(src='bower_components/materialize/dist/css/materialize.css')
    script(src='js/build.js')
