---
title:      This is a beginning.
date:       2/6/2015
tags:       test, platymoose
slug:       test1platy
order:      4
_content:   false
---

extends ../layout/post

block content
  :markdown
    There was only ever one way, one way down<br>
    One way to escape the Naethyr.<br>
    <br>
    <img src="http://i.imgur.com/SmY7YTD.jpg">