@import '_settings'
//@import '../../bower_components/marx/css/marx.css'

@import '../../bower_components/materialize/dist/css/materialize.css'
//normalize-css()
//base()

footer
  background-image url(../img/squid.png)
  background-position 33% 50%;
  background-size 500px;
  background-repeat no-repeat;
  
.tools a
  //display block
  text-align right  
h3
  font-size 2rem
  
  